* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .container {
    width: 90%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    padding: 10px;
    gap: 10px;
    margin: auto;
  }

  .image img{
    width: 412px;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #333;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 40px;
    color: #666;
  }
  
  a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #666;
  }
  
  @media (max-width:796px) {
    .container{
        grid-template-columns: 1fr;
    }
  }
  